name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: AnaLuiza-DaNova
          outputs: dist/snake.svg

      - name: Checkout output branch
        uses: actions/checkout@v4
        with:
          ref: output

      - name: Copy snake to output
        run: |
          mkdir -p dist
          cp ${{ github.workspace }}/dist/snake.svg dist/snake.svg
